
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/cssPropio.css" rel="stylesheet" />
<h2>Index</h2>
<label>Seleccione un Periodo</label>
<select id="cboPeriodo" onchange="listarCursosPeriodo()"></select>
<div id="tabla">

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="~/Scripts/PerfilAlumno.js"></script>
