
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/cssPropio.css" rel="stylesheet" />
<h2>Seccion</h2>
<br />
<button type="button" onclick="abrirModal(0)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>

    <div id="tabla">

    </div>
    <div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <table style="width:80%;margin:auto">
                        <tr>
                            <td width="40%">Id seccion</td>
                            <td width="60%"><input class="borrar form-control" type="text" id="txtIdPeriodo" readonly></td>
                        </tr>


                        <tr>
                            <td width="40%">Nombre seccion</td>
                            <td width="60%"><input class="borrar form-control" type="text" id="txtNombre"></td>
                        </tr>


                    </table>
                    <div class="modal-footer">
                        <button onclick="Agregar()" id="btnAceptar" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>
                        <button id="btnCancelar" onclick="Cerrar()" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Seccion.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
