
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/cssPropio.css" rel="stylesheet" />
<h2>Index</h2>

<button type="button" onclick="abrirModal(0)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>

<div id="tabla">


 </div>
    

<div id="myModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="lblTitulo"></h4>
                </div>
                <div class="modal-body">
                    <table style="width:80%;margin:auto" ;>
                        <tr>
                            <td>ID Usuario</td>
                            <td>
                                <input class="borrar form-control" type="text" id="txtIdUsuario" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td>Nombre Usuario</td>

                            <td>  <input class="borrar obligatorio form-control" type="text" id="txtNombreUsuario" /></td>
                        </tr>
                        <tr>
                            <td id="lblContra">Contrasena</td>
                            <td>  <input class="borrar obligatorio form-control" type="password" id="txtContra" /></td>
                        </tr>
                        <tr>
                            <td id="lblPersona">Persona</td>
                            <td><select class="borrar obligatorio form-control" id="cboPersona" /></td>
                        </tr>
                        <tr>
                            <td>Rol</td>
                            <td><select class="borrar obligatorio form-control" id="cboRol" /></td>
                        </tr>
                    </table>
                    <table id="tblPagina"></table>
                </div>
                <div class="modal-footer">
                    <button onclick="Agregar()" type="button" class="btn btn-success">Aceptar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Usuario.js"></script>
    <script src="~/Scripts/datatables.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

