
@{
    ViewBag.Title = "Index";
}
<link href="~/Content/datatables.css" rel="stylesheet" />
<link href="~/Content/cssPropio.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />

<h2>Alumno</h2>

<select id="cboSexo"></select>
<input type="button" id="btnBuscar" value="Buscar" class="btn-success" />

<input type="button" id="btnLimpiar" value="Limpiar" class="btn-primary" />
<br/>
<button type="button" onclick="abrirModal(0)" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
<div id="tabla">


</div>
<div id="myModal" class="modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
               
                <h4 id="lblTitulo" class="modal-title"></h4>
            
            </div>
            <div class="modal-body">
                <table style="width:80%;margin:auto">
                    <tr>
                        <td width="40%">Id Alumno</td>
                        <td width="60%"><input class="borrar form-control" type="text" id="txtIdAlumno" readonly></td>
                    </tr>
                    <tr>
                        <td>Ingrese nombre alumno</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="text" id="txtnombre">
                        </td>
                    </tr>
                    <tr>
                        <td>Apellido paterno Alumno</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="text" id="txtapPaterno">
                        </td> 
                    </tr>
                    <tr>
                    <tr>
                        <td>Apellido Materno</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="text" id="txtapMaterno">
                        </td>
                    </tr>
                    <tr>
                        <td>Ingrese sexo</td>
                        <td>
                            @*<select class="borrar obligatorio" id="cboSexoPopup"></select>*@
                                <label>Masculino</label>
                                <input type="radio" id="rbMasculino" name="rbSexo">
                                <label>Femenino</label>
                                <input type="radio" id="rbFemenino" name="rbSexo" checked>
</td>
                    </tr>

                    <tr>
                        <td>Telefono Padre</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="number" id="txtTelefonoPadre">
                        </td>
                    </tr>
                    <tr>
                        <td>Telefono madre</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="number" id="txtTelefonoMadre">
                        </td>
                    </tr>
                    <tr>
                        <td>Numero de hermanos</td>
                        <td>
                            <input class="borrar obligatorio form-control" type="number" id="txtNumeroHermanos">
                        </td>
                    </tr>
                    <tr>
                            <td>Fecha de nacimiento</td>
                            <td> <input class="borrar obligatorio form-control" id="dtFechaNacimiento" type="text" /> </td>

                        </tr>
                       
                </table>
                <div class="modal-footer">
                   @* <button onclick="Agregar()" id="btnAceptar" type="button" class="btn btn-success" data-dismiss="modal">Aceptar</button>*@
                    <button onclick="Agregar()" type="button" class="btn btn-success">Aceptar</button>
                    <button id="btnCancelar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/Alumno.js"></script>
<script src="~/Scripts/datatables.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>